<%- include('./partials/header') %>
  
        <div class="pokedex">
        <% for (let i = 0; i < pokeImg.length; i++) { %>
            <div class="pokedex-details">
                <p class="pokedex-details-name"><%= pokeImg[i].name %></p>
                <a class="pokedex-details-img" href="pokemon/<%= pokeImg[i].id %>">
                    <img src="<%= pokeImg[i].sprites.front_default %>" alt="">
                </a>
                <ul class="pokedex-details-type-liste">
                    <% for (const type of pokeType[i]) { %>
                        <li class="pokedex-details-typebox-<%= type.type.name %>"><%= type.type.name %></li>
                    <% } %>
                </ul>
            </div>
        <% } %>
        </div>
        <button id="loader-pokemon" class="pokemon-loader" data-limit="20" data-offset="20">Charger plus de pokemon</button>

        <%- include('./partials/footer') %>